<template>
  <div>
    <div v-if="isLoggedIn">
      <p>Welcome {{user.name}}</p>
      <button type="button" @click="logout">Logout</button>
    </div>
    <div v-else>
      <input v-model="email" type="text" />
      <button type="button" @click="login(email)">Login</button>
    </div>
    <div class="error" v-if="error">{{error}}</div>
  </div>
</template>
<script>
import { mapActions, mapState } from 'vuex';

export default {
  data() {
    return {
      email: '',
    };
  },
  computed: {
    ...mapState(['error', 'isLoggedIn', 'user']),
  },
  methods: {
    ...mapActions(['login', 'logout']),
  },
}
</script>